.container
.row.pad60
  .col-lg-12
    .row
      %h1 
        %strong FAQ 
      .faq_details
        .faq
          #accordion.panel-group
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                    What is Cairai?
                    .pull-right.plush +
              #collapseOne.panel-collapse.collapse.in
                .panel-body
                  Cairai is a way for users to make money enjoying the content they love.
                  
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                    How does Cairai work?
                    .pull-right.plush +
              #collapseTwo.panel-collapse.collapse
                .panel-body
                  Whenever you see an ad you earn coins. These coins can be turned into money or they can be spread around the website in a variety of ways.
                  
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                    Can I earn coins when I have adblock?
                    .pull-right.plush +
              #collapseThree.panel-collapse.collapse
                .panel-body
                  Nope. You need to see the advertisment in order to earn the coins. You can whitelist cairai and earn coins that way.
                  
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
                    Can I upload a book or a comic?
                    .pull-right.plush +
              #collapseFour.panel-collapse.collapse
                .panel-body
                  Yes you can! Uploading cost two dollars per gigabyte. Other plans and currencys will be comming within the next few updates.
                
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFive"}
                    Can I advertise my products on this site?
                    .pull-right.plush +
              #collapseFive.panel-collapse.collapse
                .panel-body
                  Not at this time. An advertisement system will be put in within the next few weeks.
                
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix"}
                    What version is the site?
                    .pull-right.plush +
              #collapseSix.panel-collapse.collapse
                .panel-body
                  Currently this is version 0.1. New versions will come out every six to eight weeks.            