#content-wrapper
  .heading
    .pull-left.user_name Search Result
    .pull-right.select_book
      %select.sselect
        %option{:value => "volvo"} Books
        %option{:value => "saab"} Comics
  = render :partial => "content", :locals => { :search_result => @search_result }
