%br
%footer#footer-bar
  .container
    .row
      .col-xs-12.blog.col-md-6.col-sm-6
        = link_to "About", about_path, :class => "pull-left", :method => :get
        = link_to "FAQ", faq_path, :class => "pull-left", :method => :get
        = link_to "Blog", "http://cairaiblog.blogspot.com/", :class => "pull-left"
        = link_to "Legal", legal_path, :class => "pull-left", :method => :get
      .col-xs-12.col-md-6.col-sm-6
        %p#footer-copyright.copyright.pull-right Copyright &copy; 2015 Exoide LLC. All Rights Reserved